{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class = 'enter_window'>


    {% if form.errors %}
        <p>{{ form.errors.error }}</p>
    {% endif %}

    <form action="{% url 'login' %}" method="post">

        {% csrf_token %}
        <div class = "login_page">

            <img src="{% static 'users/img/user 1.svg' %}" alt="">

            <div class="login_page_item">
                {{form.username.label}}
                {{form.username}}
            </div>
            <div class="login_page_item">
                {{form.password.label}}
                {{form.password}}
            </div>
            <div class="login_page_item">
                <button  class ='register_button' type="submit">Login</button>
            </div>

            <div class = "form-error">{{f.errors}}</div>
        </div>
    </form>
</div>
{% endblock %}