@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html,body{
    height:100%;
    margin: 0;
    background-image: url('../img/dep_back.jpg');
  /* For Google Chrome */
    filter: blur(0px);
    padding:0;

}
